/* You can add global styles to this file, and also import other style files */
.box{
    width: 100px;
    height: 100px;
    margin: 50px;
    background-color: blue;
}

.notification{
    padding: 10px;
    background-color: lightblue;
    color: darkblue;
    margin: 20px;
}