<h2>Register Form</h2>
<form [formGroup]="registerForm" (ngSubmit)="handleSumit()">
    <div>
        <label>First Name</label>
        <input type="text" formControlName="firstName" placeholder="Enter first name" />
        <div *ngIf="firstName.invalid && firstName.touched" class="error">
            <span *ngIf="firstName.hasError('required')">First name is required</span>
            <span *ngIf="firstName.hasError('minlength')">First name must be at least 3 characters</span>
        </div>
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" formControlName="lastName" placeholder="Enter last name" />
        <div *ngIf="lastName.invalid && lastName.touched" class="error">
            <span *ngIf="lastName.hasError('required')">Last name is required</span>
            
        </div>
    </div>
    <div>
        <label>Phone Numbers</label>
        <div formArrayName="phoneNumbers">
            <div *ngFor="let phone of phoneNumbers.controls; let i=index">
                <label>Phone {{i + 1}}</label>
                <input type="text" [formControlName]="i" placeholder="Enter 10-digit phone number" />
                <button [disabled]="phoneNumbers.length==1" type="button" (click)="removePhoneNumber(i)">Remove</button>
                <div *ngIf="phone.invalid && phone.touched" class="error">
                    <span *ngIf="phone.hasError('required')">Phone is required</span>
                    <span *ngIf="phone.hasError('pattern')">Invalide phone number format.</span>
                </div>
            </div>
        </div>
        <button type="button" (click)="addPhoneNumber()">Add Phone Number</button>
    </div>
    <div>
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Enter email address" />
        <div *ngIf="email.invalid && email.touched" class="error">
            <span *ngIf="email.hasError('required')">Email is required</span>
            <span *ngIf="email.hasError('email')">Email is Invalid</span>
            <span *ngIf="email.hasError('emailTaken')">Email is already registered</span>
        </div>
    </div>
    <div>
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="Enter password" />
        <div *ngIf="password.invalid && password.touched" class="error">
            <span *ngIf="password.hasError('required')">Password is required</span>
            <span *ngIf="password.hasError('minlength')">Password must be at least 6 characters</span>
            <span *ngIf="password.hasError('cannotContainSpace')">Password should not contain space</span>
        </div>
    </div>
    <div  formGroupName="address">
        <div>
            <label>Street</label>
            <input type="text" formControlName="street" placeholder="Enter street" />
        </div>
        <div>
            <label>Select City</label>
            <select formControlName="city">
                <option value="">Select a City</option>
                <option value="City 1">City 1</option>
                <option value="City 2">City 2</option>
            </select>
            <div *ngIf="city.invalid && city.touched" class="error">
                <span *ngIf="city.hasError('required')">city is required</span>
               
            </div>
        </div>
        <div>
            <label>PinCode</label>
            <input type="number" formControlName="pinCode" placeholder="Enter Pin Code" />
            <div *ngIf="pinCode.invalid && pinCode.touched" class="error">
                <span *ngIf="pinCode.hasError('required')">pinCode is required</span>
               
            </div>
        </div>

    </div>
    <div>
        <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </div>
</form>
