<mat-toolbar color="primary">
    <span>Angular Material Demos</span>
    <button mat-button routerLink="/button" routerLinkActive="active">Buttons</button>
    <button mat-button routerLink="/form" routerLinkActive="active">Form Input</button>
    <button mat-button routerLink="/snackbar" routerLinkActive="active">Snackbar</button>
    <button mat-button routerLink="/dialog" routerLinkActive="active">Dialog</button>
    <button mat-button routerLink="/card" routerLinkActive="active">Card</button>
</mat-toolbar>
